a {
  text-decoration: none;
  color: black;
}
.no-select {
  user-select: none; /* Ngăn việc chọn văn bản */
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
main {
  padding: 20px;
}
details {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
summary {
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.video-container {
  text-align: center;
  margin: 20px 0;
}
/* fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
  } */
legend {
  font-weight: bold;
}
/*  */
.cta-button {
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;

  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
  color: black;
}
.column {
  padding: 20px;
  border: 1px solid #ddd;
}
/* 
   */
.col2 {
  text-align: center;
}
/*  */
.h1-col1 {
  text-align: center;
}
/* register */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
}
